.Zottegories {
    width: 621px;
    position: relative;
    font-size: 32px;
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    color: #f0cf65;
    text-align: left;
    height: 39px;
  }