.startUpScreenChild {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0d2c54;
    width: 1728px;
    height: 101px;
}

.zottegories {
    position: absolute;
    top: 31px;
    left: 32px;
    display: inline-block;
    color: #f0cf65;
    width: 621px;
    height: 39px;
}
.zottegories1 {
    position: absolute;
    top: 314px;
    left: 471px;
    font-size: 128px;
    display: inline-block;
    color: #000;
    width: 786px;
    height: 163px;
}

.searchASet {
    position: absolute;
    top: 36px;
    left: 1295px;
    font-size: 24px;
    text-decoration: underline;
    display: inline-block;
    width: 231px;
    height: 29px;
}
.startUpScreenItem {
    position: absolute;
    top: 752px;
    left: 438px;
    border-radius: 20px;
    background-color: #0d2c54;
    width: 308px;
    height: 92px;
}
.startUpScreenInner {
    position: absolute;
    top: 752px;
    left: 970px;
    border-radius: 20px;
    background-color: #0d2c54;
    width: 308px;
    height: 92px;
}
.letsMakeSome {
    position: absolute;
    top: 477px;
    left: 495px;
    font-size: 48px;
    color: #000;
}
.searchASet1 {
    position: absolute;
    top: 777px;
    left: 495px;
}
.createASet {
    position: absolute;
    top: 777px;
    left: 1027px;
}
.createASet1 {
    position: absolute;
    top: 39px;
    left: 1526px;
    font-size: 24px;
    text-decoration: underline;
}
.startUpScreen {
    width: 100%;
    position: relative;
    background-color: #c0d4f0;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: 'DM Sans';
}