.gameplay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font: 'DM Sans', sans-serif;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.lives-container {
    position: relative;    
    display: flex;
    flex-direction: row;
    text-align: center;
    bottom: -275px;
    width: 30%;
    left: 5%;
    font-family: 'DM Sans', sans-serif;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #5a594e;
    border-radius: 50%;
    margin: 0px 10px;
    font: 'DM Sans', sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.circle.fade {
    opacity: 0;
}