/* Container for gameplay */
.gameplay-container {
    font-family: 'DM Sans', serif;
    background-color: #ffffff;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;  /* Ensure that the gameplay container has some height */
    
    margin-top: 40px;
}

/* Add space between game board and game lives */

.lives-container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 25vh; 
    width: 100%; 
    padding: 50px;
    height: 10%;
    
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #5a594e;
    border-radius: 50%;
    margin: 0px 10px;
    font: 'DM Sans', sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.circle.fade {
    opacity: 0;
}